<table class="xl6530914" style="border-collapse:collapse;table-layout:fixed;width:613pt" width="817" cellspacing="0" cellpadding="0" border="0">
 <colgroup><col class="xl7930914" style="mso-width-source:userset;mso-width-alt:
 1991;width:42pt" width="56">
 <col class="xl6530914" style="mso-width-source:userset;mso-width-alt:
 7879;width:166pt" width="222">
 <col class="xl6430914" style="mso-width-source:userset;
 mso-width-alt:3271;width:69pt" width="92" span="2">
 <col class="xl6430914" style="mso-width-source:userset;mso-width-alt:
 3783;width:80pt" width="106">
 <col class="xl6430914" style="mso-width-source:userset;mso-width-alt:
 3271;width:69pt" width="92">
 <col class="xl6930914" style="mso-width-source:userset;mso-width-alt:
 3271;width:69pt" width="92">
 <col class="xl6430914" style="mso-width-source:userset;mso-width-alt:
 2304;width:49pt" width="65">
 </colgroup><tbody>
 <tr style="mso-height-source:userset;height:55.05pt" height="73">
  <td class="xl7630914" style="height:55.05pt;width:42pt" width="56" height="73">Codice
  comune</td>
  <td class="xl7330914" style="width:166pt" width="222">Comuni</td>
  <td class="xl7430914" style="width:69pt" width="92"><span style="mso-spacerun:yes"></span>Industria in senso stretto<span style="mso-spacerun:yes"></span></td>
  <td class="xl7430914" style="width:69pt" width="92"><span style="mso-spacerun:yes"></span>Costruzioni<span style="mso-spacerun:yes"></span></td>
  <td class="xl7430914" style="width:80pt" width="106"><span style="mso-spacerun:yes"></span>Commercio, trasporti e<br>
    pubblici esercizi<span style="mso-spacerun:yes"></span></td>
  <td class="xl7430914" style="width:69pt" width="92"><span style="mso-spacerun:yes"></span>Altri servizi<span style="mso-spacerun:yes"></span></td>
  <td class="xl7530914" style="width:69pt" width="92"><span style="mso-spacerun:yes"></span>Totale<span style="mso-spacerun:yes"></span></td>
  <td class="xl6630914" style="width:49pt" width="65"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">1</td>
  <td class="xl6730914">Ala<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">76 </td>
  <td class="xl7030914">102 </td>
  <td class="xl7030914">178 </td>
  <td class="xl7030914">194 </td>
  <td class="xl7130914">550 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">2</td>
  <td class="xl6730914">Albiano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">64 </td>
  <td class="xl7030914">27 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">42 </td>
  <td class="xl7130914">157 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">3</td>
  <td class="xl6730914">Aldeno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">42 </td>
  <td class="xl7030914">46 </td>
  <td class="xl7030914">68 </td>
  <td class="xl7130914">169 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">5</td>
  <td class="xl6730914">Andalo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">8 </td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">127 </td>
  <td class="xl7030914">66 </td>
  <td class="xl7130914">212 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">6</td>
  <td class="xl6730914">Arco<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">127 </td>
  <td class="xl7030914">171 </td>
  <td class="xl7030914">502 </td>
  <td class="xl7030914">700 </td>
  <td class="xl7130914">1.500 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">7</td>
  <td class="xl6730914">Avio<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">37 </td>
  <td class="xl7030914">53 </td>
  <td class="xl7030914">100 </td>
  <td class="xl7030914">74 </td>
  <td class="xl7130914">264 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">9</td>
  <td class="xl6730914">Baselga di Pine'<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">46 </td>
  <td class="xl7030914">82 </td>
  <td class="xl7030914">143 </td>
  <td class="xl7030914">147 </td>
  <td class="xl7130914">418 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">11</td>
  <td class="xl6730914">Bedollo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">10 </td>
  <td class="xl7030914">20 </td>
  <td class="xl7030914">21 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7130914">66 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">13</td>
  <td class="xl6730914">Besenello<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">18 </td>
  <td class="xl7030914">37 </td>
  <td class="xl7030914">45 </td>
  <td class="xl7030914">51 </td>
  <td class="xl7130914">151 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">15</td>
  <td class="xl6730914">Bieno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">-</td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7130914">21 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">17</td>
  <td class="xl6730914">Bleggio Superiore<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">12 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7030914">26 </td>
  <td class="xl7130914">87 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">18</td>
  <td class="xl6730914">Bocenago<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">10 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7130914">32 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">21</td>
  <td class="xl6730914">Bondone<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7130914">33 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">22</td>
  <td class="xl6730914">Borgo Valsugana<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">39 </td>
  <td class="xl7030914">81 </td>
  <td class="xl7030914">219 </td>
  <td class="xl7030914">243 </td>
  <td class="xl7130914">582 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">25</td>
  <td class="xl6730914">Brentonico<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">22 </td>
  <td class="xl7030914">31 </td>
  <td class="xl7030914">90 </td>
  <td class="xl7030914">72 </td>
  <td class="xl7130914">215 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">26</td>
  <td class="xl6730914">Bresimo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7130914">10 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">27</td>
  <td class="xl6730914">Brez<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7030914">14 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7130914">37 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">29</td>
  <td class="xl6730914">Caderzone<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">14 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7030914">23 </td>
  <td class="xl7130914">66 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">30</td>
  <td class="xl6730914">Cagno'<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">11 </td>
  <td class="xl7130914">23 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">32</td>
  <td class="xl6730914">Calceranica al Lago<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">32 </td>
  <td class="xl7030914">27 </td>
  <td class="xl7130914">83 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">33</td>
  <td class="xl6730914">Caldes<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">19 </td>
  <td class="xl7130914">66 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">34</td>
  <td class="xl6730914">Caldonazzo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">22 </td>
  <td class="xl7030914">41 </td>
  <td class="xl7030914">84 </td>
  <td class="xl7030914">82 </td>
  <td class="xl7130914">229 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">35</td>
  <td class="xl6730914">Calliano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">16 </td>
  <td class="xl7030914">23 </td>
  <td class="xl7030914">36 </td>
  <td class="xl7030914">41 </td>
  <td class="xl7130914">116 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">36</td>
  <td class="xl6730914">Campitello di Fassa - Ciampedel<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">98 </td>
  <td class="xl7030914">33 </td>
  <td class="xl7130914">141 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">37</td>
  <td class="xl6730914">Campodenno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">18 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7130914">80 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">38</td>
  <td class="xl6730914">Canal San Bovo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">30 </td>
  <td class="xl7030914">42 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7130914">115 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">39</td>
  <td class="xl6730914">Canazei - Cianacei<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">12 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7030914">273 </td>
  <td class="xl7030914">117 </td>
  <td class="xl7130914">427 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">40</td>
  <td class="xl6730914">Capriana<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">3 </td>
  <td class="xl7130914">28 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">41</td>
  <td class="xl6730914">Carano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7030914">38 </td>
  <td class="xl7030914">30 </td>
  <td class="xl7130914">109 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">42</td>
  <td class="xl6730914">Carisolo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">30 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7130914">93 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">43</td>
  <td class="xl6730914">Carzano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">12 </td>
  <td class="xl7130914">28 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">45</td>
  <td class="xl6730914">Castel Condino<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7130914">15 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">46</td>
  <td class="xl6730914">Castelfondo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">16 </td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7130914">37 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">47</td>
  <td class="xl6730914">Castello-Molina di Fiemme<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">22 </td>
  <td class="xl7030914">43 </td>
  <td class="xl7030914">74 </td>
  <td class="xl7030914">58 </td>
  <td class="xl7130914">197 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">48</td>
  <td class="xl6730914">Castello Tesino<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">65 </td>
  <td class="xl7030914">19 </td>
  <td class="xl7130914">100 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">49</td>
  <td class="xl6730914">Castelnuovo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">20 </td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">20 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7130914">76 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">50</td>
  <td class="xl6730914">Cavalese<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">29 </td>
  <td class="xl7030914">69 </td>
  <td class="xl7030914">182 </td>
  <td class="xl7030914">197 </td>
  <td class="xl7130914">477 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">51</td>
  <td class="xl6730914">Cavareno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">21 </td>
  <td class="xl7030914">49 </td>
  <td class="xl7030914">40 </td>
  <td class="xl7130914">121 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">52</td>
  <td class="xl6730914">Cavedago<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7130914">33 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">53</td>
  <td class="xl6730914">Cavedine<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">52 </td>
  <td class="xl7030914">45 </td>
  <td class="xl7030914">56 </td>
  <td class="xl7130914">168 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">54</td>
  <td class="xl6730914">Cavizzana<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7130914">13 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">58</td>
  <td class="xl6730914">Cimone<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7030914">10 </td>
  <td class="xl7130914">28 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">59</td>
  <td class="xl6730914">Cinte Tesino<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7130914">24 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">60</td>
  <td class="xl6730914">Cis<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">12 </td>
  <td class="xl7030914">3 </td>
  <td class="xl7130914">24 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">61</td>
  <td class="xl6730914">Civezzano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">37 </td>
  <td class="xl7030914">49 </td>
  <td class="xl7030914">105 </td>
  <td class="xl7030914">90 </td>
  <td class="xl7130914">281 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">62</td>
  <td class="xl6730914">Cles<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">51 </td>
  <td class="xl7030914">102 </td>
  <td class="xl7030914">281 </td>
  <td class="xl7030914">371 </td>
  <td class="xl7130914">805 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">63</td>
  <td class="xl6730914">Cloz<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7130914">51 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">64</td>
  <td class="xl6730914">Commezzadura<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">6 </td>
  <td class="xl7030914">31 </td>
  <td class="xl7030914">39 </td>
  <td class="xl7030914">30 </td>
  <td class="xl7130914">106 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">68</td>
  <td class="xl6730914">Croviana<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">23 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7130914">69 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">70</td>
  <td class="xl6730914">Daiano<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">4 </td>
  <td class="xl7030914">14 </td>
  <td class="xl7030914">12 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7130914">39 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">71</td>
  <td class="xl6730914">Dambel<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">2 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7130914">13 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">74</td>
  <td class="xl6730914">Denno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">15 </td>
  <td class="xl7030914">23 </td>
  <td class="xl7030914">35 </td>
  <td class="xl7130914">78 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">78</td>
  <td class="xl6730914">Drena<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7030914">11 </td>
  <td class="xl7130914">32 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">79</td>
  <td class="xl6730914">Dro<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">47 </td>
  <td class="xl7030914">102 </td>
  <td class="xl7030914">88 </td>
  <td class="xl7130914">254 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">80</td>
  <td class="xl6730914">Faedo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">22 </td>
  <td class="xl7030914">9 </td>
  <td class="xl7130914">41 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">81</td>
  <td class="xl6730914">Fai della Paganella<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">10 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">47 </td>
  <td class="xl7030914">27 </td>
  <td class="xl7130914">97 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">83</td>
  <td class="xl6730914">Fiave'<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">26 </td>
  <td class="xl7030914">17 </td>
  <td class="xl7130914">61 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">85</td>
  <td class="xl6730914">Fierozzo - Vlarotz</td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">16 </td>
  <td class="xl7030914">3 </td>
  <td class="xl7130914">25 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">87</td>
  <td class="xl6730914">Folgaria<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">22 </td>
  <td class="xl7030914">43 </td>
  <td class="xl7030914">194 </td>
  <td class="xl7030914">118 </td>
  <td class="xl7130914">377 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">88</td>
  <td class="xl6730914">Fondo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">27 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7030914">68 </td>
  <td class="xl7030914">73 </td>
  <td class="xl7130914">196 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">89</td>
  <td class="xl6730914">Fornace<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">45 </td>
  <td class="xl7030914">31 </td>
  <td class="xl7030914">24 </td>
  <td class="xl7030914">28 </td>
  <td class="xl7130914">128 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">90</td>
  <td class="xl6730914">Frassilongo - Garait</td>
  <td class="xl7030914">-</td>
  <td class="xl7030914">9 </td>
  <td class="xl7030914">8 </td>
  <td class="xl7030914">4 </td>
  <td class="xl7130914">21 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">91</td>
  <td class="xl6730914">Garniga Terme<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">1 </td>
  <td class="xl7030914">7 </td>
  <td class="xl7030914">6 </td>
  <td class="xl7130914">15 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">92</td>
  <td class="xl6730914">Giovo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">19 </td>
  <td class="xl7030914">54 </td>
  <td class="xl7030914">50 </td>
  <td class="xl7030914">44 </td>
  <td class="xl7130914">167 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">93</td>
  <td class="xl6730914">Giustino<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">3 </td>
  <td class="xl7030914">11 </td>
  <td class="xl7030914">29 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7130914">68 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">95</td>
  <td class="xl6730914">Grigno<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">32 </td>
  <td class="xl7030914">33 </td>
  <td class="xl7030914">47 </td>
  <td class="xl7030914">36 </td>
  <td class="xl7130914">148 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">97</td>
  <td class="xl6730914">Imer<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">18 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">29 </td>
  <td class="xl7030914">19 </td>
  <td class="xl7130914">79 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">98</td>
  <td class="xl6730914">Isera<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">25 </td>
  <td class="xl7030914">44 </td>
  <td class="xl7030914">62 </td>
  <td class="xl7130914">148 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">102</td>
  <td class="xl6730914">Lavarone<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">29 </td>
  <td class="xl7030914">79 </td>
  <td class="xl7030914">50 </td>
  <td class="xl7130914">171 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">103</td>
  <td class="xl6730914">Lavis<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">109 </td>
  <td class="xl7030914">129 </td>
  <td class="xl7030914">276 </td>
  <td class="xl7030914">304 </td>
  <td class="xl7130914">818 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">104</td>
  <td class="xl6730914">Levico Terme<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">43 </td>
  <td class="xl7030914">81 </td>
  <td class="xl7030914">220 </td>
  <td class="xl7030914">219 </td>
  <td class="xl7130914">563 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">106</td>
  <td class="xl6730914">Livo<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">5 </td>
  <td class="xl7030914">13 </td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">10 </td>
  <td class="xl7130914">45 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">108</td>
  <td class="xl6730914">Lona-Lases<span style="mso-spacerun:yes"></span></td>
  <td class="xl7030914">33 </td>
  <td class="xl7030914">17 </td>
  <td class="xl7030914">26 </td>
  <td class="xl7030914">16 </td>
  <td class="xl7130914">92 </td>
  <td class="xl6830914"></td>
 </tr>
 <tr class="xl6730914" style="mso-height-source:userset;height:18.0pt" height="24">
  <td class="xl7730914" style="height:18.0pt" height="24">109</td>
  <td class="xl6730914">Luserna - Lus